* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  min-height: 900px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

textarea {
  resize: none;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 36px;
}

header p {
  color: white;
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  float: right;
  bottom: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  display: inline-block;
  vertical-align: top;
}
.note h1 {
  font-size: 1.2em;
  margin-bottom: 6px;
}
.note p {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  left: 85%;
  background-color: white;
  border: none;
  color: #f5ba13;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}

.inputField {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 330px;
  margin: 16px;
  display: block;
  position: relative;
  left: 36%;
}

.inputField button {
  background-color: #f5ba13;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10%;
  position: relative;
  left: 80%;
}

.inputField input {
  margin: 9px 2px;
  border: none;
  width: 300px;
  height: 30px;
}

.inputField textarea {
  margin: 9px 2px;
  border: none;
}
